/**
 * Global style definitions
 */
main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    h1 {
        margin-bottom: 6px;
    }
    button {
        margin-top: 12px;
    }
}